POSTGRES_DB=orynth
POSTGRES_USER=orynth
POSTGRES_PASSWORD=orynth_dev_password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
BACKEND_API_URL=http://127.0.0.1:8001
ORYNTH_PUBLIC_BASE_URL=
ORYNTH_ALLOWED_HOSTS=127.0.0.1,localhost
RECAPTCHA_ENABLED=0
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
