DJANGO_DEBUG=0
DJANGO_SECRET_KEY=change-me
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_SECURE=1

GOTRENDLABS_DOMAIN=gotrendlabs.com.br,www.gotrendlabs.com.br,gotrendlabs.com,www.gotrendlabs.com
GOTRENDLABS_ALLOWED_HOSTS=gotrendlabs.com.br,www.gotrendlabs.com.br,gotrendlabs.com,www.gotrendlabs.com
GOTRENDLABS_CSRF_TRUSTED_ORIGINS=https://gotrendlabs.com.br,https://www.gotrendlabs.com.br,https://gotrendlabs.com,https://www.gotrendlabs.com
GOTRENDLABS_PUBLIC_BASE_URL=https://gotrendlabs.com.br
GOTRENDLABS_RUNTIME_CONFIG_PATH=/app/.runtime/platform_config.json

BACKEND_API_URL=http://fastapi:8001
SYSTEM_LOG_RETENTION_DAYS=90

DJANGO_POSTGRES_DB=gotrendlabs
DJANGO_POSTGRES_USER=gotrendlabs_django
DJANGO_POSTGRES_PASSWORD=change-me
DJANGO_POSTGRES_HOST=gotrendlabs-prod-db.cinqq6ymy9in.us-east-1.rds.amazonaws.com
DJANGO_POSTGRES_PORT=5432

FASTAPI_POSTGRES_DB=gotrendlabs
FASTAPI_POSTGRES_USER=gotrendlabs_fastapi
FASTAPI_POSTGRES_PASSWORD=change-me
FASTAPI_POSTGRES_HOST=gotrendlabs-prod-db.cinqq6ymy9in.us-east-1.rds.amazonaws.com
FASTAPI_POSTGRES_PORT=5432

RECAPTCHA_ENABLED=0
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
GOTRENDLABS_SMTP_PASSWORD=
GOTRENDLABS_SMTP_API_KEY=
GOTRENDLABS_SES_PRODUCTION_ACCESS=0
GOTRENDLABS_EMAIL_SANDBOX_ALLOWLIST=success@simulator.amazonses.com
OPENAI_API_KEY=
AWS_BEARER_TOKEN_BEDROCK=
