(gotrendlabs_tls) {
	tls {
		protocols tls1.2 tls1.3
	}
}

(gotrendlabs_reverse_proxy) {
	encode gzip

	@blocked_probe {
		path /wp-*
		path /wp/*
		path /wordpress/*
		path /wp-login.php
		path /xmlrpc.php
		path /.env*
		path /*/.env*
		path /.git/*
		path /*/.git/*
		path /vendor/*
		path /*/vendor/*
		path /phpinfo*
		path /*phpinfo*
		path /*.php*
		path /server-status*
		path /server-info*
	}

	handle @blocked_probe {
		respond 404
	}

	handle_path /static/* {
		header {
			X-Content-Type-Options nosniff
		}
		root * /srv/static
		file_server
	}

	handle_path /media/* {
		header {
			X-Content-Type-Options nosniff
			Content-Security-Policy "default-src 'none'; img-src 'self' data:; media-src 'self'; style-src 'unsafe-inline'; sandbox"
			Cache-Control "public, max-age=3600"
		}
		root * /srv/media
		file_server
	}

	handle_path /api/* {
		reverse_proxy fastapi:8001
	}

	reverse_proxy django:8000
}

gotrendlabs.com.br, www.gotrendlabs.com.br, gotrendlabs.com, www.gotrendlabs.com {
	import gotrendlabs_tls
	import gotrendlabs_reverse_proxy
}
