(gotrendlabs_tls) {
	tls {
		protocols tls1.2 tls1.3
	}
}

(gotrendlabs_reverse_proxy) {
	encode gzip

	handle_path /static/* {
		header {
			X-Content-Type-Options nosniff
		}
		root * /srv/static
		file_server
	}

	handle_path /media/* {
		header {
			X-Content-Type-Options nosniff
			Content-Security-Policy "default-src 'none'; img-src 'self' data:; media-src 'self'; style-src 'unsafe-inline'; sandbox"
			Cache-Control "public, max-age=3600"
		}
		root * /srv/media
		file_server
	}

	reverse_proxy django:8000
}

gotrendlabs.com.br, www.gotrendlabs.com.br, gotrendlabs.com, www.gotrendlabs.com {
	import gotrendlabs_tls
	import gotrendlabs_reverse_proxy
}
