(orynth_reverse_proxy) {
  encode gzip

  handle_path /static/* {
    root * /srv/static
    file_server
  }

  handle_path /media/* {
    root * /srv/media
    file_server
  }

  reverse_proxy django:8000
}

{$ORYNTH_HTTP_SITE:http://localhost} {
  import orynth_reverse_proxy
}

{$ORYNTH_HTTPS_SITE:https://localhost} {
  tls /etc/caddy/certs/ip.crt /etc/caddy/certs/ip.key
  import orynth_reverse_proxy
}
