<meta property="og:type" content="website">
<meta property="og:title" content="{{ share.title }}">
<meta property="og:description" content="{{ share.description }}">
<meta property="og:url" content="{{ share.url }}">
<meta property="og:image" content="{{ share.image_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ share.title }}">
<meta name="twitter:description" content="{{ share.description }}">
<meta name="twitter:image" content="{{ share.image_url }}">
